body {
  background-color: darkslategray;
}
img {
  height: 300px;
  width: 300px;
}

.first-form {
}
.title {
  font-style: normal;
  font-family: helvetica, Arial;
  padding-top: 5px;
  font-style: italic;
  font-size: 12px;
  border-radius: 5px;
  border: 0;
  height: 30px;
  width: 300px;
}
.description {
  font-style: normal;
  font-family: helvetica, Arial;
  padding-top: 5px;
  font-style: italic;
  font-size: 12px;
  border-radius: 5px;
  border: 0;
  height: 30px;
  width: 300px;
}
.username {
  font-family: helvetica, Arial;
  font-style: normal;
  height: 30px;
  padding-top: 5px;
  font-style: italic;
  font-size: 12px;
  border-radius: 5px;
  border: 0;
  width: 300px;
}
.inputfile {
  padding-top: 5px;
  font-style: italic;
  font-size: 12px;
  border-radius: 8px;
  border: 0;
}
.first-btn {
  text-align: center;
  color: white;
  background-color: black;
  border-radius: 10px;
  width: 90px;
  height: 30px;
  font-size: 20px;
}
.uploaded-img {
  height: 300px;
  width: 300px;
  border-radius: 8px;
  border: white 2px solid;
}
.add {
  border: crimson 2px solid;
}

.go {
  border: yellow 3px solid;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  margin: 0px auto;
  padding: 0 30px;
  background-color: dimgray;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.cmt {
  margin: 0;
}

.modal-header {
  align-self: center;
}
.modal-body {
  align-self: start;
}

.modal-footer {
  height: 500px;
}

.btn-close-modal {
  align-self: start;
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.btn-close-modal:hover {
  color: white;
}

.comment {
  border: 1px solid black;
  border-radius: 5px;
  padding: 4px 0 5px 5px;
  margin-bottom: 2px;
  font-size: 18px;
  background-color: darkslategrey;
  color: whitesmoke;
}

.username-date {
  padding-top: 5px;
  font-style: italic;
  font-size: 12px;
}

.input-modal {
  border-radius: 5px;
  border: 0;
}

.btn-modal-comment {
  border: 1px solid;
  border-radius: 5px;
  background-color: darkgoldenrod;
}

/* New Modal */

/* .modal {
  position: fixed;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 2;
  min-width: 100vw;
  min-height: 2000px;
  background-color: rgba(0, 0, 0, 0.7);
} */
